.button{   
    width: 25%;
    height: 35px;
    border-radius: 10px;
    background: #6e6cfc;
    border: 1px solid #6e6cfc;
    outline: none;
    color: #fff;
    font-size: 20px;
  }

  .button:hover,
  .button:active {
    background: #741188;
    border-color: #741188;
  }

