*{
  box-sizing: border-box;
}

body {
  margin: 0;  
}
html{
  font-family: sans-serif;
  background:rgb(38, 127, 119);
  /* background:rgb(70, 105, 18); */
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
